li{
	list-style: none;
	padding: 1em;
}
ul{
	-webkit-padding-start: 0;
}
#title{
	width: 100%;
	text-align: center;
}
#description,#thanks,#return-message{
	text-align: center;
}
form{
	padding: 1em;
}
.content{
	display: flex;
}
.button-container{
	text-align: center;
	width: 100%;
}